[2020-01-30 20:19] kbwagner commented on #2382
Closing - can reopen if needed

[2020-01-30 20:19] #2382 closed

[2020-01-30 20:21] kbwagner commented on #2384
Will reopen if necessary

[2020-01-30 20:21] #2384 closed

[2020-01-30 20:24] kbwagner commented on #2400
On opportunity create, they would have to pick a country, then a state, and then a city vs just a free form text box for location (we do this for State internships)

[2020-01-30 20:25] kbwagner commented on #2412
Closing - can readdress when we have data retention decisions down the road

[2020-01-30 20:25] #2412 closed

[2020-01-30 20:26] kbwagner commented on #2442
Google Analytics tracks some of this
closing and can be readdressed if data team requests

[2020-01-30 20:26] #2442 closed

[2020-01-30 20:30] kbwagner commented on #2460
Closing - will reopen if this comes up again.

[2020-01-30 20:30] #2460 closed

[2020-01-30 22:29] kbwagner commented on #4369
@Kibrahacha67 yep I was about to send it back when I saw your note.  I'll put in a ticket to only display if status is Open

[2020-01-30 22:29] #4369 closed

[2020-01-30 22:32] kbwagner opened #4446 "Show Opportunities by community: only display if community has opps in status of "Open""
Who: Users searching by a community on signed in landing page
What:  only display the community if there are opps in status of Open
Why: to avoid user frustration

Acceptance Criteria:
- Add the ability to search by community on the Landing page
- On the landing page, only display a community on  Search for Opportunities by community where the community has opps with a status of "Open"

Example: C

[2020-01-30 22:33] kbwagner commented on #1887
KWagner reviewed - closing

[2020-01-30 22:33] #1887 closed

[2020-01-30 22:36] kbwagner commented on #4339
1/30/2020 - KWagner reviewed.
Closing

[2020-01-30 22:36] #4339 closed

[2020-01-30 22:37] kbwagner commented on #4400
1/30/2020 - KWagner tested in Chrome/Test
Closing

[2020-01-30 22:37] #4400 closed

[2020-01-30 22:37] kbwagner commented on #4389
1/30/2020 - KWagner reviewed test/Chrome
Closing

[2020-01-30 22:37] #4389 closed

[2020-01-31 16:32] Kibrahacha67 opened #4448 "BUG: Home Page - Read more link in the Latest achievements section overlaps the image for user."
### Environment
Test

### Browsers
IE Edge Chrome FF

### Steps to Replicate
1. Log into Open Opps
2. If not on the homepage, click on your name on the top right of the screen
3. Scroll to the Latest achievements section on the Home page on the right side of the screen

### Expected Results
Image doesn't overlap with the "Read More" link

### Actual Results
Image overlaps with the "Read More" link

[2020-01-31 18:10] Kibrahacha67 commented on #4411
1-31-20 LHammond in testing

[2020-01-31 18:52] Kibrahacha67 commented on #4414
1-31-20 Lhammond in testing
Testing completed moving to review.

[2020-01-31 18:53] Kibrahacha67 commented on #4412
1-31-20 LHammond in testing

[2020-01-31 18:56] Kibrahacha67 commented on #4377
1-31-20 LHammond in testing
Testing completed moving to review.

[2020-01-31 21:24] nia-johnson commented on #2184
Tested in UAT and it doesn't seem to be an issue. Closing

[2020-01-31 21:24] #2184 closed

[2020-02-03 16:37] nia-johnson opened #4449 "Create/Edit Opportunity Page for DOI"
### Who
DOI Open Opps users

### What
Adjust Create Opportunity page to meet DOI's specific requirements

### Why
In order for DOI to display the information necessary to advertise details on Open Opps

### Acceptance Criteria
Users should be able to do the following while creating or editing a DOI opportunity:

The following changes are for the create/edit template as a whole:
- Rename due date t

[2020-02-03 18:12] nia-johnson commented on #1966
@kbwagner What should this page look like content wise? I don't think Open Opps has the all the same functionality as USAJOBS, so we might have to add something else to the page if that is the case. Here's the following:

- Keyword & Location - I think this is fine, especially once #2218 is picked up and goes to Prod
- Filters - This is fine
- Profile - It doesn't seem like Profile content has muc

[2020-02-03 18:25] nia-johnson commented on #1966
@kbwagner Never mind the above. Looked at the design ticket and adding those requirements in

[2020-02-03 18:41] kbwagner commented on #2468
Move to customer experience tickets in TFS

[2020-02-03 18:52] kbwagner commented on #2523
2/3/2020 - Consider a change agency function.

[2020-02-03 18:57] kbwagner commented on #2540
2/3/20 - We currently show a message when you are updating someone else's profile.
- Add a similar message when a sitewide admin is updating someone else's opportunity.  You are editing an opportunity that isn't yours - make a modal instead of a banner
- Audit is currently happening.  No additional requirements needed.
Currently on profile - but use yellow warning message instead:
![image](https:/

[2020-02-03 18:58] kbwagner commented on #2591
2/3/2020 - still valid

[2020-02-03 19:01] kbwagner commented on #2602
2/3/2020 - Closing - will reopen if data team requests

[2020-02-03 19:01] #2602 closed

[2020-02-03 19:01] kbwagner commented on #2603
2/3/2020 - Closing - will reopen if data team requests in the future

[2020-02-03 19:01] #2603 closed

[2020-02-03 19:03] kbwagner commented on #2636
@bmcorum can you check whether this has been done?

If so, might add another ticket to allow us to search on agency acronyms.

[2020-02-03 19:08] kbwagner commented on #2823
2/3/20 - This has been done for students.  Not applicable for regular opps because we use a select 2 box.

[2020-02-03 19:08] #2823 closed

[2020-02-03 19:14] kbwagner commented on #2827
2/3/2020 - closing - markdown has been removed from the opportunity card so this is no longer an issue.

[2020-02-03 19:14] #2827 closed

[2020-02-03 19:18] kbwagner commented on #2946
2/3/2020 -
Update this ticket to add drafts to the admin section and in the same ticket  to update the search filters for any role to only show Open, In Progress, and Completed
@nia-johnson as you have time

[2020-02-03 19:21] kbwagner commented on #3326
2/3/2020 - Discuss with State in a future meeting - allow anyone to apply

[2020-02-03 19:23] kbwagner commented on #3478
2/3/2020 - The spike is done.  We know how to use it. If we have issues in the future, new tickets to be written.

[2020-02-03 19:23] #3478 closed

[2020-02-03 19:27] kbwagner commented on #3760
2/3/2020 - Add link to "Email all" that is a mail to link that opens up a blank email, will dump all emails into the email to box.

Email all applicants
Email all participants
Possibly Email everyone

[2020-02-03 19:34] kbwagner commented on #4325
@abudz19 can you drop a link in here of what Matt had designed?

[2020-02-03 19:55] nia-johnson opened #4451 "Add Auto Join Toggle on Create/Edit Community Page"
### Who
Site wide Admins

### What
Make it possible to automatically add Open Opps users that fit the prerequisites of a closed community

### Why
To make sure that users have access to the communities they are eligible for

### Acceptance Criteria
The user should be able to do the following:
- View auto-join toggle on the Create/Edit Community page
- Switch toggle on/off

### Related Tickets
http

[2020-02-03 20:02] nia-johnson opened #4452 "Auto-Join Functionality"
### Who
Sitewide Admins

### What
The functionality behind the auto-join toggle in the Create/Edit Community panel

### Why
So the system knows the conditions by which to automatically add/remove a user from a closed community

### Acceptance Criteria
- If the auto-join toggle is on for a closed community and there is an individual user who is in the same agency/department as the closed community,

[2020-02-03 20:10] nia-johnson opened #4453 "View DOI Opportunity"
### Who
DOI Open Opps Users

### What
View DOI specific opportunities in the DOI community

### Why
DOI users need to be able to see individual opportunities in detail.

### Acceptance Criteria
The user should be able to view all existing opportunity fields in addition to the following if provided (part time and full time details only)
 - "How to Apply" Section
- Pay Plan fields
- Grade fields (bl

[2020-02-03 20:26] nia-johnson commented on #2946
@kbwagner done

[2020-02-03 20:37] nia-johnson commented on #2540
@kbwagner done

[2020-02-03 20:53] kbwagner commented on #4377
2/3/2020 - KWagner tested in Test/Chrome
Final review complete
Closing

[2020-02-03 20:53] #4377 closed

[2020-02-03 20:55] nia-johnson opened #4456 "Alphabetize All Dropdown Menu Selections"
### Who
Open Opps Users

### What
All possible sections within a dropdown menu are ordered alphabetically

### Why
To improve usability of the Open Opps platform

### Acceptance Criteria
The selections in the following dropdown menus Need to be alphabetized:
- Create / Edit  Opportunity Page
   - Country (Internships)
   - Suggested Security Clearance (Internships)
- Admin Dashboard
   - Agency (U

[2020-02-03 21:14] nia-johnson commented on #4414
Tested on Chrome in the Test environment. Moving to Final Review.

[2020-02-03 21:44] kbwagner commented on #4456
@nia-johnson some of these are already alphabetized - like career type in search.  Can you go through and note the ones that need to be done by development to save them some time?  Fine to note the other ones that are already complete for tracking.

[2020-02-03 21:53] kbwagner commented on #2540
@nia-johnson  you can remove the piece on the profile since that works currently - or note it works currently.
For the one message on the opportunity, please give them the text for it.  You can use the profile message as an example.  And it's really not a modal if it's a warning message - sorry we talked about two different things earlier but landed on warning message which is part of the design s

[2020-02-03 21:57] kbwagner commented on #4414
2/3/2020 - KWagner tested Chrome/Test
Closing

[2020-02-03 21:57] #4414 closed

[2020-02-03 21:58] kbwagner commented on #1966
@nia-johnson this looks good but we should definitely add bullets to each line.

[2020-02-03 22:00] kbwagner commented on #2218
@nia-johnson I would add this info into the AC - the location filter exists now but doesn't always display.  We want it to always display but then it requires a change in the name of the filter to make sense

In person become the label for the location filter instead of a checkbox
placeholder start typing to select location

![image](https://user-images.githubusercontent.com/18709918/73694755-be55

[2020-02-03 22:02] kbwagner commented on #2267
@nia-johnson this one looks fine but can you do some research whether the values should be a. or not.  I.e. should it be .jpeg or jpeg?  We should probably either take all the dots off or leave all the dots on.  thanks!

[2020-02-03 22:29] kbwagner commented on #3760
@nia-johnson I talked this through with Lisa.  I added more comments above...when you have time can you get this one ready please?

[2020-02-04 11:38] Kibrahacha67 commented on #4001
2-4-20 LHammond in testing

[2020-02-04 12:37] kbwagner commented on #4001
@bmcorum @Kibrahacha67 looks like the AC didn't get updated from our decision that times should display as 11:59 p.m. ET.  Not worth holding the ticket up but if by chance it's a quick change : 0 ) I'll take it.  Otherwise can put in a ticket for later.

[2020-02-04 13:07] kbwagner commented on #4411
2/4/2020 - KWagner reviewed/tested
Closing

[2020-02-04 13:07] #4411 closed

[2020-02-04 13:11] kbwagner commented on #4412
2/3/2020 - KWagner tested in Test
Pills appear correctly on student landing page
Closing

[2020-02-04 13:11] #4412 closed

[2020-02-04 13:18] kbwagner commented on #3083
2/4/2020 - KWagner tested this in the test environment and this is no longer an issue.  We have another ticket about allowing someone to be in multiple hiring paths so this can be closed.

[2020-02-04 13:18] #3083 closed

[2020-02-04 13:41] kbwagner commented on #4327
2/4/2020 - KWagner tested in UAT/Chrome

@jhanson12 I have one scenario that's action funny.   For cycle HOTFIX II I have one with a status of "not submitted"  If I click on the cycle link and the page flashes and I stay on the landing page This cycle in UAT is currently open for ATP review.
Not sure if it's related to this ticket or a separate bug?  Maybe if it's not submitted and the apply proce

[2020-02-04 13:42] kbwagner commented on #4359
2/4/2020 - Kwagner tested in UAT
Closing

[2020-02-04 13:42] #4359 closed

[2020-02-04 13:53] kbwagner commented on #4449
@nia-johnson I added in the links to the mocks.  but can you please make the following updates:
- spell out the name of the renamed due date  -  I believe "Estimated completion date" is where we landed
- Make it clear that if part time or full time detail is selected is the only time the additional fields show
- For any new field list whether its required or optional.  For any larger text field li

[2020-02-04 14:02] kbwagner commented on #4453
@nia-johnson a few comments:
- prerequisite is called Requirements
- Point out which fields will only display if part time/full time is selected and will be not displayed otherwise (requirements, how to apply, reimbursable)
- point out multiple series, if selected, will display separated by a comma since that's an addition in blue box
- Reimbursable will display in blue box

[2020-02-04 14:26] nia-johnson commented on #2540
@kbwagner Took out the profile bit and made a note at the bottom of the ticket. For the text, should we loop in design to ensure the copy meets content standards?

[2020-02-04 14:27] nia-johnson commented on #1966
@kbwagner Done.

[2020-02-04 14:33] nia-johnson commented on #2218
@kbwagner Not sure how the label change affects business logic, so I'm guessing that the user will only be able to select a location when the "In Person" box is checked.

[2020-02-04 14:36] kbwagner commented on #2540
@nia-johnson in most cases I say to loop in Debbie but since we have existing approved text that we can use we don't need to bother her.  I'd just have it say "You are an administrator.  You are editing another user's opportunity."
- Also, I don't think this message needs to display until the admin clicks "Edit" on an opportunity that isn't theirs.  If we display it when it's viewed it will get an

[2020-02-04 14:39] nia-johnson commented on #2267
@kbwagner From my research, either way works. I'm leaving periods off.

[2020-02-04 14:39] kbwagner commented on #2218
Currently the location box doesn't even display until the in person box is checked but we want it to always display.  If I recall, we said to remove the checkbox for In person and if they add a location it's basically going to assume they want in person and add that pill and search on that location.  So it's not really a label change as much as it's removing the checkbox for In Person, always disp

[2020-02-04 14:42] kbwagner commented on #2267
@nia-johnson thanks...and I just went to see what we do in USAJOBS and no periods either so we're being consistent. Thanks for researching.

[2020-02-04 14:45] kbwagner opened #4457 "Search updates for details/DOI"
Who: All Open Opps users
What: Ability to search on part time and full time details
Why: in order to improve their search experience

Acceptance Criteria:
- In the Time Commitment section of the search filters, add a new option for Part time detail above Full time detail
- If either part time or full time detail is selected, display another search option for Pay Plan Grade.
     - Pay Plan should

[2020-02-04 14:56] kbwagner commented on #4398
Add manually once 4413 is completed

[2020-02-04 14:57] kbwagner commented on #4399
Adding hold tag - Add manually once 4413 is completed

[2020-02-04 15:12] kbwagner commented on #4327
Passing/closing
Will create a new bug for the not submitted issue.

[2020-02-04 15:12] #4327 closed

[2020-02-04 15:17] kbwagner opened #4458 "Bug: Not submitted internship link not working"
Environment: UAT

Steps to Reproduce:
1) Do not fully submit an internship application
2) Once the internship apply cycle has closed, go to the landing page and click on cycle link
- link is clickable but page flashes and I stay on the landing page

Example in UAT: For cycle HOTFIX II I have one with a status of "not submitted"  If I click on the cycle link and the page flashes and I stay on the l

[2020-02-04 15:43] nia-johnson commented on #4449
@kbwagner Made the changes. Check the part time/ full time requirements to see if that's what you're getting at.

[2020-02-04 15:48] nia-johnson commented on #4453
@kbwagner Done

[2020-02-04 15:54] nia-johnson commented on #2540
@kbwagner Done.

[2020-02-04 16:00] kbwagner commented on #4453
@nia-johnson I don't think your changes saved but I went ahead and threw the updates in and it's approved. Thanks.

[2020-02-04 16:02] nia-johnson opened #4459 "Make Admin Warning Banner Yellow for Sitewide admin viewing someone else's profile"
### Who
Admin Users

### What
Notify Admin users when they are making changes to someone else's profile

### Why
Admins need to be aware of when they are making changes that directly changes users existing profile information

### Acceptance Criteria
The following should occur when a sitewide administrator edits an profile that isn't theirs:
- View a yellow warning banner from design system.  Curr

[2020-02-04 16:20] abudz19 commented on #4325
https://opm.invisionapp.com/d/main#/console/15990896/340537467/preview

[2020-02-04 16:20] kbwagner commented on #1966
@nia-johnson the only thing I added here is where the link should go for learn more about how to search.  But done. Thanks.

[2020-02-04 18:22] kbwagner commented on #3760
@nia-johnson  FYI  I had some time so went ahead and did this ticket.  Thanks.

[2020-02-04 18:53] nia-johnson commented on #2218
@kbwagner Changed

[2020-02-04 19:10] nia-johnson commented on #4453
@kbwagner Yikes. Thanks.

[2020-02-04 19:18] nia-johnson commented on #2468
@kbwagner Wouldn't this be in ATP?

[2020-02-04 19:26] kbwagner commented on #2468
@nia-johnson nope this is for regular opportunities.  Creators want a way to notate that they have either found an applicant to not be eligible for whatever reason or they interviewed them and didn't like them.  Right now they are all in an "applicant" bucket and they can't differentiate.  So do we maybe add another bucket of not selected or something where they can be drug.  There is an email tha

[2020-02-04 19:32] nia-johnson commented on #4456
@kbwagner Done

[2020-02-04 20:07] nia-johnson commented on #4441
@kbwagner @Kibrahacha67  I don't see this in Test. I went through three pages of users.

[2020-02-04 20:36] jhanson12 commented on #4413
Are all of the fields optional?

[2020-02-04 21:07] kbwagner commented on #4413
@jhanson12 I think the new fields can be optional and if nothing is entered they don't get a custom search page.  @bmcorum may disagree with me on that one though once he's feeling better.

[2020-02-05 12:52] bmcorum commented on #4413
@kbwagner I would agree they should be optional. No value means no custom banner.

[2020-02-05 13:57] kbwagner opened #4463 "Pull Pay plan from USAJOBS through API"
Who: Part time/full time detail users
What: pull pay plan from USAJOBS
Why: So it can be used in identifying detail opportunities

Acceptance criteria:
- Pull the pay plan table from USAJOBS through the API
- Create a table to store the data in Open Opps
- Only the 2 character code of the pay plan should display in the system (i.e. GS)
- The pay plan will display in Create Opportunity and search f

[2020-02-05 14:02] bmcorum commented on #4001
@kbwagner and @Kibrahacha67, I have changed EST to ET.

![image](https://user-images.githubusercontent.com/1165615/73848476-32524200-47f6-11ea-9918-51133d801e31.png)

[2020-02-05 14:07] kbwagner commented on #4001
@bmcorum thanks!  What release will you be assigning this to?

[2020-02-05 14:13] bmcorum commented on #4001
@kbwagner good catch. This will go out with 8.8

[2020-02-05 14:21] kbwagner commented on #4001
@nia-johnson this ticket is being added to the 8.8 release. Can you please update the release notes - this is one for State Department.  Thanks!

[2020-02-05 14:28] kbwagner commented on #4001
@bmcorum so for some reason the subject line didn't get put in the AC.  Should be U.S. Department of State Student Internship Program (Unpaid) – Application period is closing.
- Want a new ticket?  Or is it an easy change to just get this out?

[2020-02-05 16:05] bmcorum commented on #4001
@kbwagner subject line updated.

![image](https://user-images.githubusercontent.com/1165615/73859028-62eea780-4807-11ea-8804-8ce057bb4e7e.png)

[2020-02-05 18:17] kbwagner commented on #4001
2/5/20 - KWagner reviewed
Closing

[2020-02-05 18:17] #4001 closed

[2020-02-05 20:14] bmcorum commented on #2824
@kbwagner I think we should include all options.

### Example 1:
**Agency:** Bureau of Engraving and Printing
**Department:** Department of Treasury - Agency Wide

Two limiting options

1. Limit participation to Bureau of Engraving and Printing
2. Limit participation to Department of Treasury - Agency Wide

### Example 2
**Agency:** Naval Reserve Force
**Department:** U.S. Navy - Agency Wide
**Dep

[2020-02-05 20:33] bmcorum commented on #4452
@nia-johnson I think the requirement needs to be defined in the AC. @kbwagner, I believe the requirement is that the user belongs to the same agency or department that the community is assigned to.

[2020-02-05 20:39] nia-johnson commented on #4452
@bmcorum i left that open ended to be inclusive of all possible ways a closed community could restrict members. It would be easier to deal with if we encounter a community that wishes to restrict members by criteria that doesn't include agency or department.

[2020-02-05 20:42] bmcorum commented on #4452
@nia-johnson if an additional requirement come up we would need a new ticket. Currently there is no way to test the AC because there is no defined requirement at this point, and there is no way for a community to set their own requirements. At this point the only requirement is business case rule and thus should be defined in the AC.

[2020-02-05 20:46] nia-johnson commented on #4452
@bmcorum This ticket covers auto-join. It doesn't cover users setting requirements for a closed group. In fact, this is the first time I've heard that there isn't functionality to create a closed group. Given that is the case, that needs to be another ticket, which I can link to this one.

[2020-02-05 20:48] nia-johnson commented on #4452
@kbwagner I thought users setting requirements for closed groups was completed functionality. Does this ability currently not exist in Open Opps?

[2020-02-05 20:48] bmcorum commented on #4452
@nia-johnson we currently have all functionality and support for creating closed communities. This ticket is supposed to be adding functionality based on a newly identified business case specifically for automatically adding users as members to any closed communities that are within the same agency or department.

[2020-02-05 20:53] nia-johnson commented on #4452
@bmcorum I understand that. However, since this business case has been identified, we have to at least discuss how this could affect closed groups with other parameters - since users have the ability to create such groups, will auto-join be available to them as well? This is a call that needs to be made by @kbwagner

[2020-02-05 20:57] bmcorum commented on #4452
@nia-johnson, As far as I know the only requirement that has been identified is auto joining based on same agency/department. Agile is about iteration so we code what we know, not what we think may or may not happen in the future. Again, based on how this is written it cannot be tested and therefore will not be committed to.

[2020-02-05 21:00] bmcorum commented on #4452
Yes, any other closed community who decided to turn on the auto join feature would work exactly the same as the identified business case which is to automatically add new members based on agency/department. If we later defined a new need we then implement the new need which will most likely also require us to collect additional information which we do not collect today to implement a new requireme

[2020-02-05 21:09] nia-johnson commented on #4452
@bmcorum I'm not implying that we should develop for all possible constraints right at this moment because Agile is about iteration, but it's also about thinking about functionality as a vertical slice. There is a very real possibility that another business case for auto-join can be identified and to mitigate future refactors, possible implementation risks should be discussed (not committed to) be

[2020-02-05 21:12] bmcorum commented on #4452
@nia-johnson that is fine if you are concerned about future iteration, but then you also would need to have defined the functionality for how a community manager would define these supposed new business case rules in the UI which we do not have and therefore cannot possibly write code around a open ended requirement that cannot be defined by an end user.

[2020-02-05 21:16] nia-johnson commented on #4452
@bmcorum You said that there is functionality so that users can create closed groups. Are they able to create groups using criteria that is not agency/department? If so, wouldn't the users already be creating these business rules to begin with?

[2020-02-05 21:21] bmcorum commented on #4452
@nia-johnson closed communities functionality is used to prevent non member from posting opportunities to that community; that is all that functionality does. In order for a user to post to a closed community they would need to email a community manager who then needs to log in and invite them to the community. DoI has 1000s of employees that would need to be added manually (invited) to their new

[2020-02-05 21:29] nia-johnson commented on #4452
@bmcorum Okay. So there is no way for a user to set criteria to bar users from posting? It's either open or closed and in the latter case, it must be manually done, correct?

[2020-02-05 21:30] bmcorum commented on #4452
@nia-johnson the only way to currently bar users from posting into your community it to make it a closed community which requires that the user join your community by being invited by a community manager.

[2020-02-05 21:40] bmcorum commented on #4452
@nia-johnson the only piece of information we currently require and collect about a community that is also part of user profiles is agency. So at this point it is the only matching point of data that we can code around. If at some point in the future another need is identified it will require collecting another matching data point. All of this would require new tickets.

[2020-02-05 21:44] nia-johnson commented on #4452
@bmcorum I get it now. Thank you for your patience. I'll change the ticket. @kbwagner Do you think a it's worth creating a ticket that 1) allows users to bar users from posting communities using specific criteria 2) enables auto-join based on that criteria? If so, I can make that and put it at the bottom of the TFS backlog under customer experience.

[2020-02-06 14:43] bmcorum commented on #4329
Ready for testing

[2020-02-06 15:36] kbwagner commented on #4452
@nia-johnson sorry I didn't get to these until today but sounds like it's been worked through.   I don't think we need those new tickets now as we really have no idea of what people want in the future.  If it comes up, we can add it. Thanks.

[2020-02-06 17:03] Kibrahacha67 commented on #4329
2-6-20 LHammond in testing

[2020-02-06 18:35] bmcorum commented on #4457
Don't forgot to update the elastic task mapping and search query

[2020-02-06 19:55] bmcorum commented on #2636
We are now able to get acronyms if known from USAJOBS

![image](https://user-images.githubusercontent.com/1165615/73973438-8e00f600-48f0-11ea-947f-7262ae057f4f.png)

Will need to run a new data migration to re-import agency data from USAJOBS

[2020-02-06 20:04] bmcorum commented on #2642
This has all been completed in various other tickets.

[2020-02-06 20:04] #2642 closed

[2020-02-07 16:50] Kibrahacha67 commented on #4329
2-7-20 LHammond in testing
Testing completed.  Moving to review
NOTE: was tested using Nam autem ducimus in tempore minus autem and Winter is here Cycle.  Data in both of those cycles is good.  If there are any questions please let me know.

[2020-02-07 18:04] nia-johnson commented on #2468
Closed. Moved to TFS - https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS-New/_workitems?id=41404&_a=edit

[2020-02-07 18:30] nia-johnson commented on #2250
Closed. Added to TFS.
https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS-New/_workitems?id=41406&_a=edit

[2020-02-07 18:30] #2250 closed

[2020-02-10 17:22] nia-johnson commented on #2189
Closed. Added to TFS. https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41450&_a=edit

[2020-02-10 17:22] #2189 closed

[2020-02-10 19:12] nia-johnson commented on #4419
Closed. Moved to TFS. https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41176&_a=edit

[2020-02-10 19:12] #4419 closed

[2020-02-10 20:56] nia-johnson commented on #4325
Closed. Moved to TFS. https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41404&_a=edit

[2020-02-10 20:56] #4325 closed

[2020-02-11 11:58] kbwagner commented on #4323
2/11/2020 - KWagner tested in production, page has been removed
Closing

[2020-02-11 11:58] #4323 closed

[2020-02-11 13:03] Kibrahacha67 commented on #4329
![image.png](https://images.zenhubusercontent.com/5aa2e8314b5806bc2bca392c/e59a730b-0d72-42ce-96b1-e07c95c05376)

![image.png](https://images.zenhubusercontent.com/5aa2e8314b5806bc2bca392c/ebd1686e-537e-4ced-aa30-fd2fb3de1d69)

![image.png](https://images.zenhubusercontent.com/5aa2e8314b5806bc2bca392c/af598158-9688-4386-9688-7703f2272383)

![image.png](https://images.zenhubusercontent.com/5aa2e831

[2020-02-11 13:07] Kibrahacha67 commented on #4329
![image.png](https://images.zenhubusercontent.com/5aa2e8314b5806bc2bca392c/521a75ad-08bd-4374-ada2-245b14cfa153)

![image.png](https://images.zenhubusercontent.com/5aa2e8314b5806bc2bca392c/804f9d45-4868-4bd6-b4cc-e06c72698003)

![image.png](https://images.zenhubusercontent.com/5aa2e8314b5806bc2bca392c/ed746364-5070-4af7-bf69-5ed24a383692)

[2020-02-11 13:12] kbwagner commented on #4329
2/11/2020 - KWAgner reviewed student test account and artifacts.
Closing

[2020-02-11 13:12] #4329 closed

[2020-02-11 15:56] tanichacko commented on #4453
@nia-johnson   don't have access to this link
 https://opm.invisionapp.com/d/main?origin=v7#/console/19275869/403419532/preview?scrollOffset=481
Can you share public link for this mock ?

[2020-02-11 18:59] kbwagner commented on #2194
Added to TFS: 41481

[2020-02-11 18:59] #2194 closed

[2020-02-11 19:07] kbwagner commented on #783
TFS Ticket 41482 https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41482&_a=edit
Entered in TFS - closing

[2020-02-11 19:07] #783 closed

[2020-02-11 19:17] kbwagner commented on #4453
@tanichacko try this: https://opm.invisionapp.com/share/ZRVQ4C6J6QP#/403419532_State_-_Opportunity_-Desktop-

[2020-02-11 19:26] nia-johnson commented on #4312
Closed. Moved to TFS. https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41480&_a=edit

[2020-02-11 19:26] #4312 closed

[2020-02-11 19:30] kbwagner commented on #4378
TFS https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41484&_a=edit
41484

[2020-02-11 19:30] #4378 closed

[2020-02-11 19:35] kbwagner commented on #4458
TFS 41486

[2020-02-11 19:35] #4458 closed

[2020-02-11 19:40] kbwagner commented on #4448
TFS 41178

[2020-02-11 19:40] #4448 closed

[2020-02-11 19:40] nia-johnson commented on #2650
Closed. Moved to TFS. https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41485&_a=edit

[2020-02-11 19:40] #2650 closed

[2020-02-11 19:44] kbwagner commented on #4422
Moved to TFS 41487

[2020-02-11 19:44] #4422 closed

[2020-02-11 19:44] kbwagner commented on #4398
Closing - will be done offline

[2020-02-11 19:44] #4398 closed

[2020-02-11 19:44] kbwagner commented on #4399
Will be done offline - closing

[2020-02-11 19:44] #4399 closed

[2020-02-11 19:46] kbwagner commented on #4441
@Kibrahacha67 can you confirm whether you still see this issue?

[2020-02-12 11:39] Kibrahacha67 commented on #4441
Yes.

From: Katrina Wagner <notifications@github.com>
Sent: Tuesday, February 11, 2020 2:46 PM
To: openopps/openopps-platform <openopps-platform@noreply.github.com>
Cc: Hammond, Larry A. <Larry.Hammond@opm.gov>; Mention <mention@noreply.github.com>
Subject: Re: [openopps/openopps-platform] Bug: Image size for User Type on manage users page sitewide do not maintain size. (#4441)

@Kibrahacha67<http

[2020-02-12 11:40] Kibrahacha67 commented on #4441
I can.

[2020-02-12 13:28] kbwagner commented on #4441
Thanks!  Just making sure before we move it to TFS.

[2020-02-12 14:03] kbwagner commented on #2183
TFS 49491 - closing here

[2020-02-12 14:03] #2183 closed

[2020-02-12 21:11] nia-johnson commented on #2523
Closed. Moved to TFS. https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41489&_a=edit

[2020-02-12 21:11] #2523 closed

[2020-02-12 21:43] nia-johnson commented on #2400
Closed. Moved to TFS. https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41504&_a=edit

[2020-02-12 21:43] #2400 closed

[2020-02-12 21:52] nia-johnson commented on #2272
Closed. Moved to TFS. https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41505&_a=edit

[2020-02-12 21:52] #2272 closed

[2020-02-12 22:15] nia-johnson commented on #2263
Closed. Moved to TFS. https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41506&_a=edit

[2020-02-12 22:15] #2263 closed

[2020-02-13 14:59] nia-johnson commented on #2135
Closed. Moved to TFS. https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41519&_a=edit

[2020-02-13 14:59] #2135 closed

[2020-02-13 15:04] nia-johnson commented on #2097
Moved to TFS as a task. https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41521&_a=edit

[2020-02-13 15:04] #2097 closed

[2020-02-13 15:13] nia-johnson commented on #2014
Moved to TFS. https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41522&_a=edit

[2020-02-13 15:13] #2014 closed

[2020-02-13 15:42] nia-johnson commented on #1996
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41523&_a=edit

[2020-02-13 15:42] #1996 closed

[2020-02-13 15:52] nia-johnson commented on #1915
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41525&_a=edit

[2020-02-13 15:52] #1915 closed

[2020-02-13 15:59] nia-johnson commented on #1659
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41526&_a=edit

[2020-02-13 15:59] #1659 closed

[2020-02-13 16:21] nia-johnson commented on #1574
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41527&_a=edit

[2020-02-13 16:21] #1574 closed

[2020-02-13 16:34] nia-johnson commented on #1546
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41528&_a=edit

[2020-02-13 16:34] #1546 closed

[2020-02-13 18:04] nia-johnson commented on #4127
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41530&_a=edit

[2020-02-13 18:04] #4127 closed

[2020-02-13 18:16] nia-johnson commented on #4128
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41531&_a=edit

[2020-02-13 18:16] #4128 closed

[2020-02-13 18:24] nia-johnson commented on #4348
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41532&_a=edit

[2020-02-13 18:24] #4348 closed

[2020-02-13 18:28] nia-johnson commented on #2275
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41533&_a=edit

[2020-02-13 18:28] #2275 closed

[2020-02-13 18:37] nia-johnson commented on #4441
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41542&_a=edit

[2020-02-13 18:37] #4441 closed

[2020-02-13 18:44] nia-johnson commented on #2218
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41544&_a=edit

[2020-02-13 18:44] #2218 closed

[2020-02-13 18:51] nia-johnson commented on #4456
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41548&_a=edit

[2020-02-13 18:51] #4456 closed

[2020-02-13 18:55] nia-johnson commented on #3760
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41549&_a=edit

[2020-02-13 18:55] #3760 closed

[2020-02-13 18:59] nia-johnson commented on #4459
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41550&_a=edit

[2020-02-13 18:59] #4459 closed

[2020-02-13 19:03] nia-johnson commented on #2540
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/Atlas/_backlogs?level=Backlog%20items&showParents=false&_a=backlog

[2020-02-13 19:03] #2540 closed

[2020-02-13 19:06] nia-johnson commented on #2267
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/Atlas/_backlogs?level=Backlog%20items&showParents=false&_a=backlog

[2020-02-13 19:06] #2267 closed

[2020-02-13 19:10] nia-johnson commented on #1966
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/Atlas/_backlogs?level=Backlog%20items&showParents=false&_a=backlog

[2020-02-13 19:10] #1966 closed

[2020-02-13 19:14] nia-johnson commented on #4409
Moving to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/Atlas/_backlogs?level=Backlog%20items&showParents=false&_a=backlog

[2020-02-13 19:14] #4409 closed

[2020-02-13 19:19] nia-johnson commented on #2016
Moving to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/Atlas/_backlogs?level=Backlog%20items&showParents=false&_a=backlog

[2020-02-13 19:19] #2016 closed

[2020-02-13 19:25] nia-johnson commented on #2946
https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41556&_a=edit

[2020-02-13 19:25] #2946 closed

[2020-02-13 21:22] nia-johnson commented on #4370
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41557&_a=edit

[2020-02-13 21:22] #4370 closed

[2020-02-13 21:27] nia-johnson commented on #4415
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41558&_a=edit

[2020-02-13 21:27] #4415 closed

[2020-02-14 15:54] nia-johnson commented on #1998
Mock is not active and there are no requirements. Not moving to TFS.

[2020-02-14 15:54] #1998 closed

[2020-02-14 16:28] nia-johnson commented on #2468
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41562&_a=edit

[2020-02-14 16:28] #2468 closed

[2020-02-14 21:12] nia-johnson commented on #1711
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41572&_a=edit

[2020-02-14 21:12] #1711 closed

[2020-02-17 23:24] nia-johnson commented on #1688
Split and moved into TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41574&_a=edit, https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41575&_a=edit

[2020-02-17 23:24] #1688 closed

[2020-02-17 23:36] nia-johnson commented on #1644
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41576&_a=edit

[2020-02-17 23:36] #1644 closed

[2020-02-18 00:01] nia-johnson commented on #2051
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41577&_a=edit

[2020-02-18 00:01] #2051 closed

[2020-02-18 00:11] nia-johnson commented on #2036
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41578&_a=edit

[2020-02-18 00:11] #2036 closed

[2020-02-18 00:14] nia-johnson commented on #2021
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41579&_a=edit

[2020-02-18 00:14] #2021 closed

[2020-02-18 00:22] nia-johnson commented on #2636
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41580&_a=edit

[2020-02-18 00:22] #2636 closed

[2020-02-18 00:31] nia-johnson commented on #3326
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41581&_a=edit

[2020-02-18 00:31] #3326 closed

[2020-02-18 00:39] nia-johnson commented on #2381
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41582&_a=edit

[2020-02-18 00:39] #2381 closed

[2020-02-18 00:43] nia-johnson commented on #4011
Plan is to retire profile in Open Opps and pull out Profile as a separate product. Closing.

[2020-02-18 00:43] #4011 closed

[2020-02-18 00:50] nia-johnson commented on #4216
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41583&_a=edit

[2020-02-18 00:50] #4216 closed

[2020-02-18 00:56] nia-johnson commented on #1579
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41584&_a=edit

[2020-02-18 00:56] #1579 closed

[2020-02-18 01:01] nia-johnson commented on #1570
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41585&_a=edit

[2020-02-18 01:01] #1570 closed

[2020-02-18 01:04] nia-johnson commented on #1968
Moving to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41586&_a=edit

[2020-02-18 01:04] #1968 closed

[2020-02-18 01:06] nia-johnson commented on #2591
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/Atlas/_backlogs?level=Backlog%20items&showParents=false&_a=backlog

[2020-02-18 01:06] #2591 closed

[2020-02-18 01:08] nia-johnson commented on #2295
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41588&_a=edit

[2020-02-18 01:08] #2295 closed

[2020-02-18 01:15] nia-johnson commented on #1692
Moving to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41589&_a=edit

[2020-02-18 01:15] #1692 closed

[2020-02-18 01:21] nia-johnson commented on #1691
Moving to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41590&_a=edit

[2020-02-18 01:21] #1691 closed

[2020-02-18 01:33] nia-johnson commented on #1689
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41591&_a=edit

[2020-02-18 01:33] #1689 closed

[2020-02-18 01:42] nia-johnson commented on #1690
Moved to TFS: https://tfs.opm.gov/tfs/RecruitmentSystems/USAJOBS/_workitems?id=41592&_a=edit

[2020-02-18 01:42] #1690 closed

[2020-02-18 13:50] bmcorum commented on #4463
Partial table view of imported pay plan codes

![image](https://user-images.githubusercontent.com/1165615/74741920-b01d4100-522b-11ea-9ff4-d67731e1aab2.png)

[2020-02-19 14:32] bmcorum commented on #4463
See attached data artifact above

[2020-02-19 14:37] bmcorum commented on #2824
Ready for testing

[2020-02-19 15:03] margaretdumas commented on #4463
Mdumas - Moving to review.  Artifact is attached

[2020-02-19 17:46] margaretdumas commented on #2824
Mdumas - Testing completed.

[2020-02-19 18:59] kbwagner commented on #4463
2/19/20 - Reviewed and closing

[2020-02-19 18:59] #4463 closed

[2020-02-19 19:28] kbwagner commented on #4446
TFS 41469

[2020-02-19 20:30] kbwagner commented on #4421
@raywilliams I know you've been working on this ticket. Should we go ahead and move this one to TFS and close it here? Didn't want to mess you up. (@nia-johnson)

[2020-02-19 22:08] bmcorum commented on #4451
Ready for testing

[2020-02-19 22:08] bmcorum commented on #4452
Ready for testing

[2020-02-19 22:09] bmcorum commented on #4453
Ready for testing

[2020-02-19 22:09] bmcorum commented on #4449
Ready for testing

[2020-02-20 13:30] margaretdumas commented on #4449
Mdumas - In testing....

[2020-02-20 14:10] margaretdumas commented on #4449
Moving back to development for changes in the AC.  Also please add a space after "up".  ![image.png](https://images.zenhubusercontent.com/59ef9329a468affe6df7fe8a/37669dba-03c7-44d6-8e04-b8c6c4958213)

[2020-02-20 14:13] kbwagner commented on #4421
TFS 41657

[2020-02-20 14:13] #4421 closed

[2020-02-20 14:15] kbwagner commented on #4401
TFS 41588

[2020-02-20 14:15] #4401 closed

[2020-02-20 14:16] #4446 closed

[2020-02-20 14:16] kbwagner commented on #4457
TFS 41647

[2020-02-20 14:16] #4457 closed

[2020-02-20 14:26] margaretdumas commented on #4453
Mdumas - moving back to development.  All fields required in AC are not displayed on View.  Fields missing are :
. "How to Apply" Section
•  Pay Plan fields
• Grade fields (blue box)
• Requirements field (located under the description fields)
• Reimbursable (blue box)

[2020-02-20 14:33] margaretdumas commented on #4451
Mdumas - testing

[2020-02-20 15:03] bmcorum commented on #4413
Ready for testing in UAT

[2020-02-20 15:03] bmcorum commented on #4416
Ready for testing in UAT

[2020-02-20 15:14] margaretdumas commented on #4452
Mdumas - Passed testing. Moving on to review

[2020-02-20 16:00] margaretdumas commented on #4413
Mdumas - tested. Moving to review.

[2020-02-20 16:00] margaretdumas commented on #4416
Mdumas - Tested. Moving to review

[2020-02-20 17:39] kbwagner commented on #2824
2/20/20 - KWagner tested in Chrome/Test
Closing

[2020-02-20 17:39] #2824 closed

[2020-02-20 21:26] nia-johnson commented on #4451
Passed in Test environment on Chrome. Moved to Final Review.

[2020-02-20 21:32] nia-johnson commented on #4413
Tested in Chrome on the Test environment. Moving to Final Review.

[2020-02-20 21:33] nia-johnson commented on #4416
Tested in Chrome in the Test environment and passed. Moving to review.

[2020-02-21 13:34] bmcorum commented on #4449
Ready for testing

[2020-02-21 13:35] bmcorum commented on #4453
Ready for testing

[2020-02-21 14:05] margaretdumas commented on #4449
Mdumas - testing completed. Moving to review.

[2020-02-21 14:06] margaretdumas commented on #4453
Mdumas - testing completed

[2020-02-21 14:10] nia-johnson commented on #4452
Tested in Chrome. Passed in Test environment. Moving to Final Review

[2020-02-21 14:19] margaretdumas commented on #4453
Mdumas - Posed question as to whether Reimbursable should show is "No" is selected to slack channel.  If the answer is that it should display in the blue box regardless of what is selected then the ticket need to be moved back to development for more work.  It currently only displays with a "Yes" selection.

[2020-02-21 14:36] kbwagner commented on #4453
@tanichacko sent back per conversation above with Margaret that if reimbursable is "No" still display it on the view.

[2020-02-21 14:49] kbwagner commented on #4416
2/21/20 - Kwagner tested - closing

[2020-02-21 14:49] #4416 closed

[2020-02-21 14:51] kbwagner commented on #4413
@jhanson12 one weird thing on this - it apears white is the default description color.  So I click on the color wheel and I click on white, and nothing defaults into the box.  I click another color and then white then I get ffffff in the box.  Not a big deal but wondering if the default is white if we should just put the color ffff in the box to avoid confusion?  Haven't tested the rest yet.

[2020-02-21 14:54] bmcorum commented on #4413
@kbwagner yes the default is white and the color wheel is already set to white so it didn't trigger a color change until you selected a different color and then changed it back to white. Since this field is optional if you never set it to something we don't need to store a value in the database. The code already knows what the default color value is.

[2020-02-21 14:55] bmcorum commented on #4413
@kbwagner basically trying to prevent having to store redundant data in the database

[2020-02-21 15:02] bmcorum commented on #4413
@kbwagner if you would still prefer we put the default color code values in the input boxes we will need a new ticket.

[2020-02-21 15:07] bmcorum commented on #4453
Ready for testing

[2020-02-21 15:16] margaretdumas commented on #4453
Mdumas - Verified Reimbursement option displays in blue box regardless of answer selected.  Moving back to review.

[2020-02-21 18:11] kbwagner commented on #4451
2/21/20 - KWagner reviewed in test.  Closing

[2020-02-21 18:11] #4451 closed

[2020-02-21 18:14] kbwagner commented on #4413
2/21/20 - Kwagner tested in Test/Chrome.
Closing

[2020-02-21 18:14] #4413 closed

[2020-02-21 18:18] kbwagner commented on #4449
2/21/20 - KWagner tested in Chrome/Test
Closing

[2020-02-21 18:18] #4449 closed

[2020-02-21 18:19] kbwagner commented on #4453
2/21/20 - Tested in Chrome/Test
Closing

[2020-02-21 18:19] #4453 closed

[2020-02-21 18:36] kbwagner commented on #4452
Tested in Test
Closing

[2020-02-21 18:36] #4452 closed

[2020-04-14 21:05] DavidEBest opened #4498 "ElasticSearch setup information in INSTALL.md"
### Who
Open Source users/redeployers

### What
Documentation describing the appropriate ElasticSearch setup for local machine installation.

### Why
I am working with a group to redeploy the application to a state. I am working through the install directions now and running into issues with the ElasticSearch component. Specifically, I am getting a `mapper_parsing_exception` on several templates.

[2020-04-16 14:40] Nolski opened #4499 "Docker Support"
### Who
Users intending to stand up a development

I'm running Fedora Linux 31

### What
Enter goal(s) that the user wants the product to accomplish or implement.
It seems like docker is supported but the current image on Docker Hub hasn't been updated in 5 years. When building and running the docker images as defined in INSTALL.md `npm run docker:up` the images seem to start but nothing is availa

[2020-04-16 20:09] amprokop commented on #4499
Also having this issue. We're trying to stand this up for the state of California.

[2020-04-16 20:28] bmcorum commented on #4499
The docker install never really worked for OPM when pulled it from GSA. All local development just runs on the local machine. Install NodeJS, install Elasticsearch (they offer installers now or at least have an MSI for windows), install PostgSQL. The next biggest obstacle will probably be removing the dependency on USAJOBS.

[2020-04-16 20:31] bmcorum commented on #4498
@DavidEBest where are you guys planning on hosting a the version of this for usage at the state or local government levels. This repository now has very specific business rules and dependencies on USAJOBS. Really needs to be a new repository for usage at lower level of government.

[2020-04-16 20:36] DavidEBest commented on #4498
@bmcorum It's for the state of California, hosting on AWS (probably).

I understand that there will be a lot of changes and rework to get it functional for someone other than the Federal government. At this point, I am just trying to get the project up and running in a local development environment.

[2020-04-16 20:39] bmcorum commented on #4498
@DavidEBest the Install.md file is certainly out of date. We all use Windows and I recall most of that was even out of date when OPM received the project. I think most of the discrepancies with the Windows section was mainly due to GSA/18F using Mac or Linux systems. So I would say the Install.md probably needs to be entirely rewritten.

[2020-04-16 20:42] DavidEBest commented on #4498
@bmcorum I'd be happy to assist with updating it, especially the OS X parts. Do you have any more recent documentation that y'all are using to onboard new developers?

[2020-04-16 20:42] bmcorum commented on #4498
@DavidEBest the other issue you will likely run into is getting all the data migrations to run since a few of them expect integration with USAJOBS to collect the require enumeration data such as agencies, countries, country subdivisions (state, territory, province), languages, pay plans, etc.

[2020-04-16 20:49] bmcorum commented on #4498
@DavidEBest let me see what I can find. We tried to simply the process as much as possible. The only other major dependency should be Elasticsearch. I know they have an MSI installer, and should have deb and brew options for Mac and Linux.

[2020-04-17 08:17] Nolski commented on #4499
Thanks for the quick reply @bmcorum! I'd be happy to take on some work to help dockerize this application for future users.

With regards to disconnecting this application from USAJOBS, I know that's probably a much bigger task but I'd be happy to at least look into doing so. For context, I work with various NGOs and have stood up instances of midas/openopps in the past for managing spontaneous vo

[2020-04-17 12:57] Nolski commented on #4498
@bmcorum, thanks for all of the information here! Do you know roughly when the repository was handed over to OPM? It might be worth one of us (happy to help with this as well) reverting to that commit and running a fork from there.

[2020-04-17 13:07] bmcorum commented on #4499
@Nolski I have mentioned to @DavidEBest that moving forward it might be best to create another repository for a state or local government version of Open Opportunities.

[2020-04-17 13:24] LisaLNelson commented on #4498
If I recall correctly I think it was the fall of 17.

[2020-04-17 13:48] LisaLNelson commented on #4498
@Nolski You may be able to start around January 2018 as I think that's when the actual refactor work started. @brice could confirm that. One of the reasons the refactor was done is because the code was in bad shape. GSA had pulled all dev support many months before the move and we held it together by begging & borrowing 18F support when something broke. There were no updates made to the code altho

[2020-04-17 14:51] Nolski commented on #4498
@LisaLNelson I definitely feel your pain :( . I've been in similar situations when R&D teams or vendors like to hand off half baked products to be supported at scale.

I'll look at reverting the commits and updating from there for now. If the team is interested in a community led effort to disconnect the core openopps code from USAJOBS (as it seems a few folks from CA are looking to do so as well)

[2020-04-20 15:41] bmcorum commented on #4498
@DavidEBest I may know what your Elasticsearch issue is. So I did fresh install this morning on a windows machine and discovered that installing the lastest version of Elastic will not work. We are using Elasticsearch 5.6 because that is all that is offered currently by Cloud.gov. Once you have 5.6 installed you will need to publish your first opportunity for search to work (this seems strange to

[2020-04-20 15:56] amprokop commented on #4498
@Nolski — thanks for chiming in! Wanted to comment on the following just for an FYI:

We were advised by @LisaLNelson that from 2018-present  there were potentially substantial bugfixes made. Our CA friends had previously stood up a fork from 2018 but advised us that that version of the code had some issues. We're looking into this too and will be sure to advise on our conclusion.

[2020-04-30 20:01] amprokop commented on #4498
@Nolski - wanted to follow up-

With @bmcorum's two recent tweaks to migrations as well as installing ElasticSearch 5.6, @DavidEBest and I were both able to get it up and running.

https://github.com/chhsinnovation/openopps-platform/pull/7

[2020-06-24 21:19] abudz19 commented on #1996
@eponsonby Since we are working this area right now, I went through and checked off everything I think we've already done.

Possibility to discuss at next PBI grooming session:
- do we have tickets in TFS related to filters for people? do we still want filtering for people?
- shell ticket for invite to opportunity
- display of skills (do we want the functionality above, or keep it as is? how will

[2020-07-13 17:06] kbwagner commented on #1996
7/13/20 - decided filters aren't needed
- have a separate ticket for invite to opportunity.
Closing

[2020-09-18 17:31] jeeronimmo8 opened #4505 "Mr. J"
### Who
Who is this ticket for? Who are the stakeholders?

### What
Enter goal(s) that the user wants the product to accomplish or implement.

### Why
Enter the reason(s) why the user needs the feature or functionality.

### Acceptance Criteria
List the conditions that would make this ticket complete.

### Related Tickets
List any tickets affecting the completion of this item or tickets that are d

[2020-12-18 23:57] tallguyjenks opened #4506 "Bug -- Who maintains this repo in website footer"
![image](https://user-images.githubusercontent.com/29872822/102674106-a0bb9c80-4149-11eb-8ab8-023044eb75f2.png)

Hyperlink also routes to local host port 4000 instead of perhaps a particular user/organization on github or an official `.gov` website

[2020-12-18 23:58] tallguyjenks commented on #4506
moving to the dev branch, issue is present across both branches.

[2020-12-21 14:12] #4505 closed

[2020-12-21 14:16] bmcorum commented on #4506
Link updated to [https://usajobs.github.io/openopps-help/](https://usajobs.github.io/openopps-help/)

[2020-12-21 14:16] #4506 closed

[2020-12-21 16:28] tallguyjenks opened #4507 "Bug -- README Image Broken"
The readme is trying to link to `logo.png`

![image](https://user-images.githubusercontent.com/29872822/102798487-0be1ba80-4366-11eb-82d4-20e9303daed9.png)

Looked in the `img/` and `images/` directories under `assets/` and didn't find any logo image on either `master` or `dev`

![image](https://user-images.githubusercontent.com/29872822/102798654-3e8bb300-4366-11eb-94d3-3701e1b1a80c.png)
![image]